" .vimrc の内容を継承
source ~/.vimrc

" ------------------------------------------------
" ------------- ideavimrc固有の設定 ----------------
" ------------------------------------------------

" 戻る
nnoremap <C-o> :action Back<CR>

" インテンションアクションの表示
nnoremap <leader>a :action ShowIntentionActions<CR>

" アクションの検索
nnoremap <C-/> :action GotoAction<CR>

" ファイル検索
nnoremap ff :action GotoFile<CR>

" フォーマットを実行
nnoremap <leader>f :action ReformatCode<CR>

" 次のlint alertに移動
nnoremap <leader>v :action GotoNextError<CR>

" 前のlint alertに移動
nnoremap <leader>V :action GotoPreviousError<CR>

" 型定義にジャンプ
nnoremap gd :action GotoDeclaration<CR>

" 定義元へジャンプ
nnoremap gr :action FindUsages<CR>

" 実装へジャンプ
nnoremap gi :action GotoImplementation<CR>

" テスト <=> 実装間のジャンプ
nnoremap gt :action GotoTest<CR>

" タブ移動
nnoremap <leader>] :action NextTab<CR>
nnoremap <leader>[ :action PreviousTab<CR>

" ------------------------------------------------
" ----------------- プラグイン系 -------------------
" ------------------------------------------------

set easymotion
let g:EasyMotion_do_mapping = 0
map <leader><leader> <Plug>(easymotion-s2)
set surround
set NERDTree
nnoremap <C-m> :NERDTreeFocus<CR>
let g:NERDTreeMapActivateNode = "l"
let g:NERDTreeMapCloseDir = "h"
set commentary
set multiple-cursors
set highlightedyank
