" .vimrc の内容を継承
source ~/.vimrc

" ------------------------------------------------
" ------------- ideavimrc固有の設定 ----------------
" ------------------------------------------------

" 戻る
nnoremap <C-o> :action Back<CR>

" インテンションアクションの表示
nnoremap <leader>a :action ShowIntentionActions<CR>

" アクションの検索
nnoremap <C-/> :action GotoAction<CR>

" ファイル検索
nnoremap ff :action GotoFile<CR>

" フォーマットを実行
nnoremap <leader>f :action ReformatCode<CR>

" 次のlint alertに移動
nnoremap ]q :action GotoNextError<CR>

" 前のlint alertに移動
nnoremap [q :action GotoPreviousError<CR>

" 型定義にジャンプ
nnoremap gd :action GotoDeclaration<CR>

" 定義元へジャンプ
nnoremap gr :action FindUsages<CR>

" 実装へジャンプ
nnoremap gi :action GotoImplementation<CR>

" テスト <=> 実装間のジャンプ
nnoremap gt :action GotoTest<CR>

" タブ移動
nnoremap <leader>] :action NextTab<CR>
nnoremap <leader>[ :action PreviousTab<CR>

" ------------------------------------------------
" ----------------- プラグイン系 -------------------
" ------------------------------------------------

" EasyMotion の設定
set easymotion
let g:EasyMotion_do_mapping = 0
map <leader><leader> <Plug>(easymotion-s2)

" vim-surround を有効化
set surround

" NERDTree っぽくディレクトリ構造を扱えるプラグインの設定
set NERDTree
nnoremap <C-m> :NERDTreeToggle<CR>
let g:NERDTreeMapActivateNode = "l"
let g:NERDTreeMapCloseDir = "h"
let g:NERDTreeMapOpenSplit = "x"
let g:NERDTreeMapOpenVSplit = "v"

" コメントアウトのプラグインを有効化
set commentary

" 矩形選択を有効化
set multiple-cursors

" ヤンク時にハイライトを有効化
set highlightedyank
